.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px var(--main-layout-horizontal-padding) 0;
  max-height: 100%;
  overflow: auto;
}

.productCard {
  position: relative;

  width: 216px;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-08);
  text-decoration: none;
  overflow: hidden;
  
  &:hover {
    background-color: var(--color-neutral-01);

    & .productImageContainer {
      background-color: var(--color-neutral-02);
    }
  }
  
  &:focus {
    outline: none;
    border: 1px solid var(--color-primary-06);
  }
}

.productLine {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;

  border-radius: 4px;
  padding: 2px 4px;

  background-color: white;
  color: var(--color-primary-06);
  font-size: 12px;
  text-transform: capitalize;
}

.productImageContainer {
  text-align: center;
  background-color: var(--color-neutral-01);
  height: 100px;
  padding: 8px 0
}

.productImage {
  max-height: 100%;
}

.deviceInfo {
  padding: 8px;
  text-transform: capitalize;
}

.deviceName {
  --line-height: 20px;
  --max-height: calc(2 * var(--line-height));

  font-size: 14px;
  color: var(--color-text-1);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: var(--line-height);
  height: var(--max-height);
  max-height: var(--max-height);
}

.deviceShortName {
  font-size: 12px;
  color: var(--color-text-4);
}