:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;

  --color-primary-06: #006FFF;

  --color-neutral-02: #F4F5F6;
  --color-neutral-10: #50565E;

  --color-text-3: #808893;
}

* {
  box-sizing: border-box;
}