:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;

  --main-layout-horizontal-padding: 32px;

  --color-primary-06: #006FFF;

  --color-neutral-01: #F9FAFA;
  --color-neutral-02: #F4F5F6;
  --color-neutral-10: #50565E;
  --color-neutral-08: #EDEDF0;

  --color-text-1: rgba(0, 0, 0, 0.85);
  --color-text-2: rgba(0, 0, 0, 0.65);
  --color-text-3: #808893;
  --color-text-4: rgba(0, 0, 0, 0.45);
  --color-text-unifi-1: #212327;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}