.dataControlsBar {
  padding: 16px 32px;
}

.filtersSection {
  margin: 8px 0 0 0;
  justify-content: flex-end;
}

.section {
  display: flex;
  align-items: center;
}

.deviceCount {
  margin: 0 0 0 16px;
}

.filterButton {
  margin-left: 14px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dataControlsBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section {
    height: 100%;
  }

  .filtersSection {
    margin: 0;
    justify-content: flex-start;
  }
}
